body {
    background-image: url("wallpaper.jpg");
    background-repeat: repeat;
    font-family: Calibri;
    font-size: 20px;
}

.middle {
    width: 50%;
    margin: auto;
    background: lightgray;
}

section {
    width: 100%;
    padding-bottom: 10px;
}

section img {
    width: 100%;
}

.sidenav a {
    position: absolute;
    left: -150px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.sidenav a:hover {
    left: 0;
}

.home {
    top: 20px;
    background-color: firebrick;
}

.bounty {
    top: 80px;
    background-color: orange;
}

.competitions {
    top: 140px;
    background-color: darkcyan;
}